<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= seat.title %></h2>
    <p>Date: <%= seat.exam_date %> | Session: <%= seat.session %></p>

    <h3>Exam Hall Details</h3>
    <p><b>Classroom:</b> <%= seat.classroom %></p>
    <p><b>Bench Number:</b> <%= seat.bench_number %></p>
  </body>
</html>
